<a href="/escapeRooms/<%=escapeRoom.id%>/analytics<%=url%>" class="linkAnalyticsTag">
    <span class="analyticsTag animated jackInTheBox  ">
        <i class="material-icons"><%=icon%></i> <span><%=title%></span>
    </span>
</a>