<a href="/escapeRooms/<%=escapeRoom.id%>/analytics<%=url%>" class="linkAnalyticsTag">
    <span class="analyticsTag animated jackInTheBox  ">
        <span class="material-icons"><%=icon%></span> <span class="analyticsTagTitle"><%=title%> </span><span class="material-icons">chevron_right</span>
    </span>
</a>