<a href="/escapeRooms/<%=escapeRoom.id%>/analytics<%=url%>" class="linkAnalyticsTag">
    <span class="analyticsTag animated jackInTheBox  ">
        <span class="material-icons"><%=icon%></span> <span><%=title%></span>
    </span>
</a>