<% include ../../partials/_header.ejs %>
<script src="/js/vendor/FileSaver.js"/>
<script src="/js/vendor/jszip.min.js"/>
<script src="/js/vendor/jszip-utils.min.js"/>
<div class="main appForm">
	<%- include(app.key + "/form") %>
</div>
<% include ../../partials/_footer %>