
<div class="modal" data-backdrop="static" tabindex="-1" role="dialog" id="autoplay-alert" aria-labelledby="autoplayModal" aria-hidden="true">
    <div class="modal-backdrop" style="opacity: 0.6; z-index:0;"></div>
    
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body" id="modalContent" style="text-align: center;">
            <p style="text-align: center;"><%=i18n.escapeRoom.play.autoPlayText%></p>
            <button class="btn btn-success" id="autoplay-btn"><span class="material-icons" style="vertical-align: middle;">play_arrow</span><%=i18n.escapeRoom.play.autoPlayButton%></button>  
        </div>
      </div>
    </div>
  </div>