<span 
title="<%=i18n.participant[participant.connected ? 'connected':(participant.waiting ? 'waiting' : 'disconnected')]%>"
class="material-icons connection  
<%=participant.connected ? 'connected':(participant.waiting ? 'waiting' : 'disconnected')%>"> 
    fiber_manual_record
</span>