<footer id="mainFooter">
    <img id="logoImg" alt="Logo" src="/images/escapp.png"   />
    <% if (!locals.ignoreExtras) {%>
    <!-- <ul class="langs">
        <li><a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">en</a></li>&nbsp;/&nbsp;
        <li><a class="<%=(lang=="es"?"active":"")%>" href="/?clang=es">es</a></li>
    </ul> -->
    <% } %>
    <a id="logoEU" href="<%=(lang === 'es' ? 'https://iglue.dit.upm.es/es' : 'https://iglue.dit.upm.es/')%>">
        <img alt="Co-funded by the EU" src="/images/eu.png" />
    </a>
</footer>
