<header class="" id="mainHeader">
    <img id="logoImg" alt="Logo" src="/images/escapp.png"   />
    <a id="logoEU" href="<%=(lang === 'es' ? 'https://iglue.dit.upm.es/es' : 'https://iglue.dit.upm.es/')%>">
        <img alt="Co-funded by the EU" src="/images/eu.png" />
    </a>
</header>
