<header class="" id="mainHeader">
    <img id="logoImg" alt="Logo" src="/images/escapp.png"   />
    <a id="logoEU" href="<%=i18n.logos_eu['link']%>" target="_blank">
        <img alt="<%=i18n.logos_eu.alt%>" src="/images/<%=i18n.logos_eu.img_url%>" />
    </a>
</header>
