{
	"env": {
	    "es6": true,
	    "node": true,
	    "browser": true
	},
	"parserOptions": {
	  "ecmaVersion": 9,
	  "experimentalObjectRestSpread": true,
	  "sourceType": "module"
	},
	"extends": "eslint:recommended",
	"rules": {
		"array-bracket-spacing": 1,
		"accessor-pairs": 1,
		"array-bracket-newline": 1,
		"array-callback-return": 1,
		"array-element-newline": 1,
		"arrow-body-style": 1,
		"arrow-parens": 1,
		"arrow-spacing": 1,
		"block-scoped-var": 1,
		"block-spacing": 1,
		"brace-style": 1,
		"callback-return": 0,
		"camelcase": 0,
		"capitalized-comments": 1,
		"class-methods-use-this": 1,
		"comma-dangle": 1,
		"comma-spacing": 1,
		"comma-style": 1,
		"complexity": 1,
		"computed-property-spacing": 1,
		"consistent-return": 0,
		"consistent-this": 1,
		"constructor-super": 1,
		"curly": 1,
		"default-case": 1,
		"dot-location": 1,
		"dot-notation": 1,
		"eol-last": 1,
		"eqeqeq": 1,
		"for-direction": 1,
		"func-call-spacing": 1,
		"func-style": 1,
		"function-paren-newline": 1,
		"generator-star-spacing": 1,
		"getter-return": 1,
		"global-require": 1,
		"guard-for-in": 0,
		"handle-callback-err": 1,
		"id-blacklist": 1,
		"id-length": 0,
		"id-match": 1,
		"implicit-arrow-linebreak": 1,
		"indent": 1,
		"indent-legacy": 0,
		"init-declarations": 1,
		"jsx-quotes": 1,
		"key-spacing": 1,
		"keyword-spacing": 1,
		"line-comment-position": 0,
		"linebreak-style": 0,
		"lines-around-comment": 0,
		"lines-around-directive": 1,
		"lines-between-class-members": 1,
		"max-classes-per-file": 1,
		"max-depth": 0,
		"max-lines": 0,
		"max-lines-per-function": 0,
		"max-nested-callbacks": 1,
		"max-params": 0,
		"max-statements": 0,
		"max-statements-per-line": 1,
		"multiline-comment-style": 0,
		"multiline-ternary": 0,
		"new-cap": 0,
		"new-parens": 1,
		"newline-after-var": 1,
		"newline-before-return": 0,
		"newline-per-chained-call": 1,
		"no-alert": 1,
		"no-array-constructor": 1,
		"no-async-promise-executor": 1,
		"no-await-in-loop": 1,
		"no-bitwise": 1,
		"no-buffer-constructor": 1,
		"no-caller": 1,
		"no-case-declarations": 1,
		"no-catch-shadow": 1,
		"no-class-assign": 1,
		"no-compare-neg-zero": 1,
		"no-cond-assign": 1,
		"no-confusing-arrow": 0,
		"no-const-assign": 1,
		"no-constant-condition": 1,
		"no-continue": 1,
		"no-control-regex": 1,
		"no-debugger": 1,
		"no-delete-var": 1,
		"no-div-regex": 1,
		"no-dupe-args": 1,
		"no-dupe-class-members": 1,
		"no-dupe-keys": 1,
		"no-duplicate-case": 1,
		"no-duplicate-imports": 1,
		"no-else-return": 1,
		"no-empty": 1,
		"no-empty-character-class": 1,
		"no-empty-function": 1,
		"no-empty-pattern": 1,
		"no-eq-null": 1,
		"no-eval": 1,
		"no-ex-assign": 1,
		"no-extend-native": 1,
		"no-extra-bind": 1,
		"no-extra-boolean-cast": 1,
		"no-extra-label": 1,
		"no-extra-parens": 1,
		"no-extra-semi": 1,
		"no-fallthrough": 1,
		"no-floating-decimal": 1,
		"no-func-assign": 1,
		"no-global-assign": 1,
		"no-implicit-coercion": 1,
		"no-implicit-globals": 1,
		"no-implied-eval": 1,
		"no-inner-declarations": 1,
		"no-invalid-regexp": 1,
		"no-invalid-this": 1,
		"no-irregular-whitespace": 1,
		"no-iterator": 1,
		"no-label-var": 1,
		"no-labels": 1,
		"no-lone-blocks": 1,
		"no-lonely-if": 1,
		"no-loop-func": 1,
		"no-magic-numbers": 0,
		"no-misleading-character-class": 1,
		"no-mixed-operators": 0,
		"no-mixed-spaces-and-tabs": 1,
		"no-multi-assign": 1,
		"no-multi-spaces": 1,
		"no-multi-str": 1,
		"no-multiple-empty-lines": 1,
		"no-native-reassign": 1,
		"no-negated-condition": 0,
		"no-negated-in-lhs": 1,
		"no-nested-ternary": 1,
		"no-new": 1,
		"no-new-func": 1,
		"no-new-object": 1,
		"no-new-require": 1,
		"no-new-symbol": 1,
		"no-new-wrappers": 1,
		"no-obj-calls": 1,
		"no-octal": 1,
		"no-octal-escape": 1,
		"no-param-reassign": 1,
		"no-path-concat": 1,
		"no-plusplus": 0,
		"no-process-env": 0,
		"no-process-exit": 1,
		"no-proto": 1,
		"no-prototype-builtins": 1,
		"no-redeclare": 1,
		"no-regex-spaces": 1,
		"no-restricted-globals": 1,
		"no-restricted-imports": 1,
		"no-restricted-modules": 1,
		"no-restricted-properties": 1,
		"no-restricted-syntax": 1,
		"no-return-assign": 1,
		"no-return-await": 1,
		"no-script-url": 1,
		"no-self-assign": 1,
		"no-self-compare": 1,
		"no-sequences": 1,
		"no-shadow": 1,
		"no-shadow-restricted-names": 1,
		"no-spaced-func": 1,
		"no-sparse-arrays": 1,
		"no-sync": 1,
		"no-tabs": 0,
		"no-template-curly-in-string": 1,
		"no-ternary": 0,
		"no-this-before-super": 1,
		"no-throw-literal": 1,
		"no-trailing-spaces": 1,
		"no-undef-init": 1,
		"no-underscore-dangle": 1,
		"no-unexpected-multiline": 1,
		"no-unmodified-loop-condition": 1,
		"no-unneeded-ternary": 1,
		"no-unreachable": 1,
		"no-unsafe-finally": 1,
		"no-unsafe-negation": 1,
		"no-unused-expressions": 1,
		"no-unused-labels": 1,
		"no-unused-vars": 1,
		"no-use-before-define": 1,
		"no-useless-call": 1,
		"no-useless-catch": 1,
		"no-useless-computed-key": 1,
		"no-useless-concat": 1,
		"no-useless-constructor": 1,
		"no-useless-escape": 0,
		"no-useless-rename": 1,
		"no-useless-return": 1,
		"no-var": 1,
		"no-void": 1,
		"no-warning-comments": 0,
		"no-whitespace-before-property": 1,
		"no-with": 1,
		"nonblock-statement-body-position": 1,
		"object-curly-newline": 1,
		"object-curly-spacing": 1,
		"object-property-newline": 1,
		"object-shorthand": 1,
		"one-var": 0,
		"one-var-declaration-per-line": 1,
		"operator-assignment": 1,
		"operator-linebreak": 1,
		"padded-blocks": ["warn","never"],
		"padding-line-between-statements": 1,
		"prefer-arrow-callback": 0,
		"prefer-const": 1,
		"prefer-destructuring": 1,
		"prefer-named-capture-group": 0,
		"prefer-numeric-literals": 1,
		"prefer-object-spread": 1,
		"prefer-promise-reject-errors": 1,
		"prefer-reflect": 0,
		"prefer-spread": 1,
		"prefer-template": 1,
		"quote-props": 1,
		"quotes": 1,
		"radix": 1,
		"require-atomic-updates": 1,
		"require-await": 1,
		"require-unicode-regexp": 0,
		"require-yield": 1,
		"rest-spread-spacing": 1,
		"semi": 1,
		"semi-spacing": 1,
		"semi-style": 1,
		"space-before-blocks": 1,
		"space-before-function-paren": 1,
		"space-in-parens": 1,
		"space-infix-ops": 1,
		"space-unary-ops": 1,
		"spaced-comment": 1,
		"switch-colon-spacing": 1,
		"symbol-description": 1,
		"template-curly-spacing": 1,
		"template-tag-spacing": 1,
		"unicode-bom": 1,
		"use-isnan": 1,
		"valid-typeof": 1,
		"vars-on-top": 1,
		"wrap-iife": 1,
		"wrap-regex": 1,
		"yield-star-spacing": 1,
		"max-len": 0,
		"strict": 0,
		"no-console": 0,
	}
}