<% include ../partials/_header.ejs %>
<div class="main steps">
    <h1><%=i18n.escapeRoom.steps.edit.title%></h1>
    <form class="basicConfig" method="post" action="/escapeRooms" enctype="multipart/form-data">
        <% include ../partials/_form.ejs %>
    </form>
</div>
