#root
    height: calc(100vh - 50px) !important
    .App 
        header#appHeader
            display: none
        h1
            color: white
        .config
            .form-group
                min-height: 25px
                display: flex
                justify-content: flex-start
                align-items: center
                flex-wrap: no-wrap
                margin: 0px
                padding-top: 0px
                label, input, select
                    color: white
                    border-radius: 20px
                    -webkit-text-fill-color: white !important
                    border-color: white
                input, select    
                    min-width: 75px
                    max-width: 300px
        .content
            .left
                border-right: none
        .buttons button
            @include common-button
            border-radius: 25px !important
            padding: 8px 25px !important
            background-color: $brightyellow
            color: $darkerpurple
            font-family: Gugi, Lato, sans-serif
            border: none
            text-transform: lowercase
            i
                vertical-align: middle
            &:first-child
                background-color: $brightgreen
                margin-right: 10px
.showApp
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    align-content: center
    flex-direction: column
    .breadcrumbs-container
        width: 100%
        margin-bottom: 20px
    iframe.embeddedResource
        width: 96vh
        height: 72vh
        max-height: calc(100vh - 200px)
        max-width: 100%
        border: 2px solid white
    .buttons
        padding-top: 18px
        text-align: right
        @media (max-width:720px)
            button
                font-size: 16px !important
#mainSection
    .main.apps
        height: auto
        min-height: 0px