.escapeRooms
	.flexBoxEscapeRooms
		display: flex
		justify-content: space-around
		flex-flow: row wrap
		-webkit-flex-flow: row
		flex-wrap: wrap

		&:after 
		  	content: ""
		  	flex: 1
		.escapeRoomItemWrapper
			width: 19.9%
			padding: 10px
			height: auto
			&:before
				content: ''
				float: left
				padding-top: 100%
			.escapeRoomItem
				background: white
				color: black
				width: 100%
				height: 100%
				display: flex
				flex-direction: column
				justify-content: flex-end
				align-items: center
				border-radius: 10px
				padding: 1vw
				position: relative
				.sign
					position: absolute
					top: 5px
					left: 5px
					color: WHITE
					padding: 9px
					border-radius: 50%
					background-color: $brightgreen
					&.add
						background-color: $brightyellow
				.erFoto
					width: 100%
					display: flex
					flex-direction: column
					flex: 1 auto
					.bckgFoto
						flex: 1
						background-position: center
						background-size: cover
					.escapeRoomTitle
						white-space: nowrap
						width: 100%
						text-overflow: ellipsis
						overflow: hidden
						padding-top: 5px
						font-size: 16px
				@extend %scale-animation-down
				&.addEscapeRoom
					background-color: #9196A9
					color: #D2D4DC
					font-size: 100px
					padding: 10px 20px
					border-width: 5px
					border-style: solid
					border-color: #D2D4DC
					outline: 0
					display: flex
					flex-direction: column
					justify-content: center
					@extend %scale-animation-down
@media (max-width: 1200px) 
	.escapeRooms
		.flexBoxEscapeRooms
			.escapeRoomItemWrapper
				width: 25%
@media (max-width: 992px)
	.escapeRooms
		.flexBoxEscapeRooms
			.escapeRoomItemWrapper
				width: 33.33%
@media (max-width: 576px)
	.escapeRooms
		.flexBoxEscapeRooms
			.escapeRoomItemWrapper
				width: 50%