#mainSection
  .main.escapeRoomShow
    background: none
    .menuERShow
      display: flex
      .attachmentShow
        text-align: center
        flex: 1
      .menuERShowRight
        margin-left:  50px
        padding: 10px
        border-left: 2px solid white
        .menuERactionList
          list-style: none
          font-size: 16px
          li
            margin-bottom: 16px
            a
              line-height: 24px
              &:hover
                color: $brightgreen

            .showMenuButton
              font-size: 16px
              border-radius: 20px
              padding: 5px 20px
              width: 100%
              transition: 0.1s all ease-in
              &:hover
                transform: scale(0.9)
    #dialog-preview-video, #dialog-preview-api
      padding: 0
      background-color: white
      outline: none
      border: none
      #previewVideoContent
        padding: 10px
    #dialog-preview-api
      padding: 15px
      h4
        color: $brightgreen
        font-size: 20px
        margin-bottom: -4px
      .api-table
        td, th
          font-size: 10px
          font-family: 'Lato', sans-serif
          color: $textpurple
          code
            font-family: monospace
            color: $lightred
        th
          color: $lightred
          font-weight: 600
          text-align: left
      pre#sample-fetch
        color: white
        padding: 5px
        font-size: 10px
        font-family: monospace
        background-color: $textpurple
    .ui-dialog
      outline: none !important
    .ui-dialog-title
      line-height: 50px
      padding-left: 10px
    .ui-dialog-titlebar-close
      visibility: hidden
      float: right
      width: 50px
    .ui-button-icon-space
      visibility: visible
      &:after
        content: '\e5cd'
        font-family: 'Material Icons'
    .ui-dialog .ui-dialog-titlebar, h3
      background: white !important
      border-color: white !important
      color: $lightred


@media (max-width: 768px)
  #mainSection
    .main.escapeRoomShow
      .menuERShow
        flex-wrap: wrap
        flex: 1
        .attachmentShow
          width: 100%
          max-width: 100%
        .menuERShowRight
          width: 100%
          margin-left: 0px
          border-left: none
          .menuERactionList
            padding: 0px