.escapeRooms
  .pagination
    span
      width: 24px
      font-size: 20px
      text-align: center
      display: inline-block
      &.material-icons
        font-size: 24px
        vertical-align: text-bottom
  .flexBoxEscapeRooms
    display: flex
    justify-content: space-around
    flex-flow: row wrap
    -webkit-flex-flow: row
    flex-wrap: wrap
    &:after 
        content: ""
        flex: 1
    .escapeRoomItemWrapper
      width: 19.99%
      padding: 10px
      height: auto
      &:before
        content: ''
        float: left
        padding-top: 100%
      .escapeRoomItem
        background: white
        color: black
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        border-radius: 10px
        padding: 0.5em
        position: relative
        &.disabled
          opacity: 0.4
          cursor: not-allowed
        .sign
          position: absolute
          top: 5px
          left: 5px
          color: WHITE
          padding: 9px
          border-radius: 50%
          line-height: 1px
          background-color: $brightgreen
          &.add
            background-color: $brightyellow
        .erFoto
          width: 100%
          display: flex
          flex-direction: column
          flex: 1 auto
          .bckgFoto
            flex: 1
            background-position: center
            background-size: cover
          .escapeRoomTitle
            white-space: nowrap
            width: 100%
            text-overflow: ellipsis
            overflow: hidden
            padding-top: 5px
            font-size: 16px
            margin: 0px
        @extend %scale-animation-down
        &.addEscapeRoom
          display: flex
          flex-direction: column
          justify-content: center
          @extend %scale-animation-down
@media (max-width: 1200px) 
  .escapeRooms
    .flexBoxEscapeRooms
      .escapeRoomItemWrapper
        width: 25%
@media (max-width: 992px)
  .escapeRooms
    .flexBoxEscapeRooms
      .escapeRoomItemWrapper
        width: 33.33%
@media (max-width: 576px)
  .escapeRooms
    .flexBoxEscapeRooms
      .escapeRoomItemWrapper
        width: 50%