#mainSection
  .main
    &.step-evaluation
      h2
        text-align: left
      .scorePuzzles
        *
          font-family: Lato, sans-serif
        margin: 36px
        margin-bottom: 40px
        td
          padding: 10px
          font-size: 0.8em
          .customInput
            margin: 0
            padding-top: 0px

