#mainSection
  .main
    &.step-instructions
      .editor-wrapper
        background-color: white
        margin-bottom: 20px
        color: black
        #editor
          min-height: 300px
          &.ql-container
            font-size: 18px
            .ql-blank
              text-align: center
          *
            font-family: 'Lato', sans-serif
          .ql-active, .ql-snow.ql-toolbar button:hover
            color: $lightred
            *
              stroke: $lightred
        .ql-image
          fill: #444
          &:hover
            fill: #F47E84
          svg
            stroke-width: 0.5
      #dialog-gallery
        padding: 0
        background-color: white
        outline: none
        border: none
        borderb-o
      .ui-dialog
        outline: none !important
        box-shadow: 2px 2px 10px #cecece
        background: white
      .ui-dialog-title
        line-height: 50px
        padding-left: 10px
        color: $textpurple
        font-size: 16px
      .ui-dialog-titlebar-close
        visibility: hidden
        float: right
        width: 50px
      .ui-button-icon-space
        visibility: visible
        &:after
          content: '\e5cd'
          font-family: 'Material Icons'
      .ui-dialog .ui-dialog-titlebar, h3
        background: white !important
        border-color: white !important
        color: $lightred
      .gallery-msg
        color: $textpurple
        font-family: Lato, sans-serif !important
        font-size: 0.8em
        padding: 25px
        padding-top: 0px
        padding-bottom: 0px
        label
          font-family: inherit !important
        input[type=radio]
          height: 14px
        .fileUrlInput
          background: none
          border: none
          color: $textpurple !important
          font-family: Lato, sans-serif !important
          font-size: 0.8em
          -webkit-text-fill-color: $textpurple !important
          padding-left: 0px
          text-align: left
          width: 70%
          border-bottom: 2px solid $lightred
          border-radius: 0px
          padding-bottom: 0px
          height: 2em
          margin-bottom: 1em
          caret-color: $textpurple
          &:hover, &:active, &:focus
            color: $lightred !important
            -webkit-text-fill-color: $lightred !important
      #assetsForm
        .dz-preview
          * 
            cursor: pointer
          .dz-image
              border: 2px solid #fff
              img
                object-fit: cover
                height: 100%
                opacity: 0
              img[src]
                opacity: 1
          &.file-selected
            .dz-image
              border: 2px solid $brightgreen
      .ui-dialog-buttonset
        text-align: right
        padding: 5px
        .ui-button
          @include common-button
          border-radius: 25px !important
          padding: 8px 25px !important
          font-size: 18px
          &:first-child
            background-color: $brightgreen
          &:last-child
            background-color: $lightred