@font-face {
    font-family: 'Digital';
    src: url('/fonts/ds-digib.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.countdown, .explosion {
    font-family: 'Digital', monospace;
    font-size: 17vw;
    margin: auto;
    text-align: center;
}

.container-fluid {
    padding: 35px 50px;
    padding-top: 0px;
}
@media (max-width: 800px) {
  .container-fluid {
      padding: 0px;
      padding-top: 0px;
  }
}
@media (min-width: 1200px) {
  #mainSection .main {
        padding: 35px calc(50vw - 585px); 
        padding-top: 0px;
    }
}
.previewContainer {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}
p {
    text-align: left;
}

.previewImage img {
    max-width: 40%;
}

.row-centered {
    text-align: center;
    justify-content: center;
}
.instructionsShow {
    height: auto;
    overflow: visible;
    white-space: inherit;
}

.backToMain {
    padding: 15px;
    font-size: 25px;
    text-decoration: none;
    color: var(--primary);
}

.backToMain:hover, .backToMain:active, .backToMain:focus {
    text-decoration: none;
}

#hintList {
    width: auto;
    display: inline-block;
    list-style: none;
    padding-left: 0px;

}

#hintList .card{
    display: inline-block;
    width: auto;
}

.sol-input {
    margin: auto;
    max-width: 600px;
}

#flassmessages {
  position: fixed;
  bottom: 0px;
  left: 10px;
}

/*.easy-alert {
    position: fixed;
    min-width: 500px !important;
    right: 50% !important;
    left: 50% !important;
    top: 50% !important;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    font-size: 2rem; 
}*/

.ql-video {
     margin: auto;
}
 
#editor p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.ql-editor iframe {
    pointer-events: all;
}

.hintAppIframe {
    width: 100%;
    height: 70vh;
    border: none;
}
#hintAppModal .modal-body {
    padding: 0px;
}

#hintAppModal .categories{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px 15px 0px 15px;
    align-items: stretch;
    justify-content: stretch;
}

#hintAppModal .categories .category {
    list-style-type: none;
    flex: 1;
    padding: 3px;
}
#hintAppModal .categories .category .cat-button {
    background: transparent;
    outline: none;
    border: 2px solid var(--info);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--info);
}

#hintAppModal .categories .category .cat-button:active,
#hintAppModal .categories .category .cat-button:hover,
#hintAppModal .categories .category .cat-button:focus {
  color: white;
  background: var(--info);
}
#hintAppModal .categories .category .cat-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#hintAppModal .customHint {
    padding: 20px;
    font-size: 1.3em;
}

#btn-hints:disabled {
  opacity: 0.5;
  cursor: not-allowed;

}

.puzzle-progress {
    transition-timing-function: ease-in-out;
    transition: width 0.5s;
}

.erTitle {
    float: right; 
    flex: 1;  
    text-align: right; 
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.teamName {
    float: right;
}

.ranking-table {
  width: 100%;
  position: relative;
  border: 2px solid var(--primary);
}
.ranking-table .ranking-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  height: 75px;
  border: 2px solid var(--primary);
}
.ranking-table .ranking-row.ranking-header {
  /*background-color: var(--primary);*/
  font-weight: bolder;
}

.ranking-table .ranking-row.myTeam {
  color: var(--success);
}
.ranking-table .ranking-row div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}
.ranking-table .ranking-row div b, .ranking-table .ranking-row div span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ranking-table .ranking-row .ranking-team {
  width: 20%;
}
.ranking-table .ranking-row .ranking-members {
  flex: 1;
}
.ranking-table .ranking-row .ranking-res {
  width: 10%;
}
.ranking-table .ranking-row .ranking-time {
  width: 15%;
}
.ranking-table .ranking-row .ranking-pos {
  transform: scale(1.5);
}
@media (max-width: 700px) {
  .ranking-table .ranking-row .ranking-team {
    width: 30%;
  }
  .ranking-table .ranking-row .ranking-members {
    display: none;
  }
  .ranking-table .ranking-row .ranking-res {
    width: 35%;
  }
  .ranking-table .ranking-row .ranking-time {
    width: 35%;
  }
  #hintAppModal .categories{
    flex-direction: column;
  }
}