.ranking
  text-align: center
  .content
    width: 100%
    display: inline-block
    margin: auto

    table
      margin: auto
      width: 100%
      width: auto
      tbody
        display: inline-block
    .podium
      width: 100%
      height: 75vmin
      display: flex
      flex-direction: row
      overflow-y: hidden
      .podium-col
        display: flex
        flex-direction: column
        flex: 1
        justify-content: flex-end
        align-items: center
        .podium-label
          text-align: center
          padding:  5px 3vmin
          font-family: Lato, sans-serif
          font-size: 3vmin
          color: $brightgreen
          background: white
          margin: 10px
          margin-top: 0px
          margin-bottom: 20px
          width: auto
          border-radius: 25px
          display: inline-block
          font-weight: bold
        .podium-rect
          flex: 1
          background-color: $lightred
          width: 100%
          font-size: 13vmin
          text-align: center
          line-height: 26vmin
          vertical-align: text-bottom
          max-height: 0
          transition: max-height 2s ease-in-out
        &.first
          .podium-rect
            animation-delay: 1s
        &.second
          .podium-rect
            animation-delay: 3s
        &.third
          .podium-rect
            animation-delay: 5s  
        .star
          color: $brightyellow
          font-size: 15vmin
          animation-delay: 1s

      &.started
        .podium-col
          &.first
            .podium-rect
              max-height: 70vmin
          &.second
            .podium-rect
              max-height: 33vmin
          &.third
            .podium-rect
              max-height: 23vmin
  .filters
    text-align: left
    select
          padding-right: 1.65em !important
  .ranking-table
    width: 100%
    position: relative
    border: 2px solid white
    border-radius: 22px 22px 0px 0px
    .ranking-row
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      position: absolute
      width: 100%
      height: 75px
      background-color: $purpleedit
      color: $darkerpurple
      border: 2px solid white
      &.ranking-header
        background-color: $darkerpurple
        color: white
        border-radius: 20px 20px 0px 0px
        & > div
          font-family: Gugi
      &.myTeam
        background-color: $lightred
        &.won   
          background-color: $brightgreen  
      div
        display: flex
        justify-content: center
        align-items: center
        font-family: 'Lato', sans-serif
        overflow: hidden
        padding: 10px
        b, span
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          font-family: 'Lato', sans-serif
      .ranking-team
        width: 20%
      .ranking-members
        flex: 1
      .ranking-res
        width: 10%
      .ranking-time
        width: 15%
      .ranking-pos
          transform: scale(1.5)
    &.singleTeam
      .ranking-members
        display: none
        flex: 0
      .ranking-team
        flex: 1
      .ranking-res
        width: 15%
      .ranking-time
        width: 20%
@media (max-width: 600px)
  .ranking .content .ranking-table .ranking-row 
    .ranking-team
      width: 30%
    .ranking-members
      display: none
    .ranking-res
      width: 39%
    .ranking-time
      width: 35%