@import 'common/gugi'
@import 'common/colors'
@import 'common/buttons'
@import 'common/mixins'

@import 'analytics'
@import 'appearance'
@import 'apps'
@import 'calendar'
@import 'charts'
@import 'dialogs'
@import 'escapeRoomCustomization'
@import 'escapeRoomForm'
@import 'escapeRoomShow'
@import 'escapeRooms'
@import 'error'
@import 'evaluation'
@import 'filters'
@import 'flash'
@import 'hints'
@import 'inspiration'
@import 'instructions'
@import 'join'
@import 'main'
@import 'participants'
@import 'portada'
@import 'puzzles'
@import 'ranking'
@import 'showStudent'
@import 'table'
@import 'timeline'
@import 'resources'
@import 'teams'
@import 'turnos'
@import 'userForm'
@import 'user'

\:root
  --mainpurple: #{$mainpurple}
  --darkerpurple: #{$darkerpurple}
  --textpurple: #{$textpurple}
  --bckg: #{$bckg}
  --brightgreen: #{$brightgreen}
  --brightyellow: #{$brightyellow}
  --brightblue: #{$brightblue}
  --brightorange: #{$brightorange}
  --lightred: #{$lightred}
  --textgrey: #{$textgrey}
  --purpleedit: #{$purpleedit}
  --primary: #{$white}
  --secondary: #{$brightblue}
  --success: #{$brightgreen}
  --info: #{$brightyellow}
  --warning: #{$brightorange}
  --danger: #{$lightred}
  --light: #{$purpleedit}
  --dark: #{$darkerpurple}

*
  box-sizing: border-box
html
  min-height: 100%
  background-color: $bckg
  font-family: Lato, "Lucida Grande", Helvetica, Arial, sans-serif
  body
    min-height: 100%
    margin: 0
    a
      color: white
      text-decoration: none
      font-weight: lighter
    h1, h2, h3, h4, h5, h6, button, input, select, label, th, .gugi, .ui-dialog-titlebar
      font-family: 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif
    h1, h2, h3
      font-weight: lighter
    h1
      font-size: 1.5em
    h2
      font-size: 1.3em
    h3
      font-size: 1.1em
    p, td, span
      font-size: 1em
    p
      text-align: left
    p.centeredSmall
      font-size: 20px
      font-family: Gugi, sans-serif
      text-align: center
    label
      color: $textpurple //TODO Generalize
    input, select
      background-color: $bckg
      -webkit-text-fill-color: $textpurple !important
      color: $textpurple
      font-size: large
      text-align: center
      border-color: $textpurple
      border-radius: 20px
      border-style: solid
      border-width: 2px
      height: 42px
      outline: 0
      caret-color: white
      font-weight: lighter
      box-shadow: none !important
      filter: none
      &:-moz-focusring
        color: transparent !important
        text-shadow: 0 0 0 #000
      &:active, &:focus
        -webkit-text-fill-color: white !important
        color: white !important
        border-color: white !important
      &:-webkit-autofill
        -webkit-box-shadow: 0 0 0 30px $mainpurple inset !important
        -webkit-text-fill-color: $textpurple !important
        font-family: Gugi !important
        &:active, &:focus
          -webkit-text-fill-color: white !important
          color: white !important
          border-color: white !important
      &:-moz-autofill, &:-moz-autofill-preview
        filter: none
        &:hover, &:focus, &:active
          color: white !important
          border-color: white !important
          -webkit-text-fill-color: white !important
      &:focus, &:active, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active, &-webkit-autofill::first-line 
        font-family: Gugi !important
        background-color: $bckg
        color: white !important
        -webkit-text-fill-color: white !important
        border-color: white !important
        & + label
          color: white
    select
      -webkit-appearance: none
    footer
      display: flex
      align-content: space-around
      align-items: flex-end
      justify-content: space-between
      bottom: 0
      position: absolute
      width: 100%
      margin-left: -15px
      padding: 18px
.material-icons
  vertical-align: middle
.errorPage
  pre
    font-size: 16px
    word-break: break-all
    overflow: hidden
    text-overflow: ellipsis
    white-space: pre-wrap
    font-family: monospace
.centered
  text-align: center
.align-right
  text-align: right
