@import 'common/gugi'
@import 'common/colors'
@import 'common/buttons'
@import 'common/mixins'

@import 'analytics'
@import 'appearance'
@import 'calendar'
@import 'escapeRoomCustomization'
@import 'escapeRoomForm'
@import 'escapeRoomShow'
@import 'escapeRooms'
@import 'evaluation'
@import 'filters'
@import 'flash'
@import 'hints'
@import 'inspiration'
@import 'instructions'
@import 'join'
@import 'main'
@import 'participants'
@import 'portada'
@import 'puzzles'
@import 'ranking'
@import 'showStudent'
@import 'timeline'
@import 'resources'
@import 'retosSuperados'
@import 'teams'
@import 'turnos'
@import 'userForm'
@import 'user'

\:root
  --mainpurple: #{$mainpurple}
  --darkerpurple: #{$darkerpurple}
  --textpurple: #{$textpurple}
  --bckg: #{$bckg}
  --brightgreen: #{$brightgreen}
  --brightyellow: #{$brightyellow}
  --brightblue: #{$brightblue}
  --brightorange: #{$brightorange}
  --lightred: #{$lightred}
  --textgrey: #{$textgrey}
  --purpleedit: #{$purpleedit}

*
  font-family: 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif
  box-sizing: border-box
html
  min-height: 100%
  background-color: $bckg
  body
    min-height: 100%
    margin: 0
    a
      color: white
      text-decoration: none
      font-weight: lighter
    h1, h2, h3
      font-weight: lighter
    label
      color: $textpurple //TODO Generalize
    input, select
      background-color: $mainpurple
      -webkit-text-fill-color: $textpurple !important
      color: $textpurple
      font-size: large
      text-align: center
      border-color: $textpurple
      border-radius: 20px
      border-style: solid
      border-width: 2px
      height: 42px
      outline: 0
      caret-color: white
      font-weight: lighter
      box-shadow: none !important
      &:-webkit-autofill
          -webkit-box-shadow: 0 0 0 30px $mainpurple inset !important
          -webkit-text-fill-color: $textpurple !important
          font-family: Gugi
      &:focus, &:active, &:-webkit-autofill:focus, &:-webkit-autofill:active
        font-family: Gugi !important
        background-color: $mainpurple
        color: white
        -webkit-text-fill-color: white !important
        border-color: white
        & + label
          color: white
    footer
      display: flex
      align-content: space-around
      align-items: flex-end
      justify-content: space-between
      bottom: 0
      position: absolute
      width: 100%
      margin-left: -15px
      padding: 18px
.material-icons
  vertical-align: middle
.errorPage
  pre
    font-size: 16px
