#mainSection .main.teams
  .overlay-trigger
    z-index: 99999
  .overlay-menu
    color: $textpurple
    button
      &.team-button
        padding: 0
      &.reset-team
        color: $brightorange
      &.delete-team
        color: $lightred
      &.email-team
        color: $brightyellow
      &.msg-team
        color: $brightgreen
    .subtext
      text-align: left
      font-family: Lato
      font-size: 12px
      padding-left: 5px
      label
        display: inline
        font-family: Lato
      input
        display: inline
        vertical-align: middle
        height: auto
    .team-msg
      width: calc(100% - 10px)
      margin: 5px
      resize: none
      border: 1px solid $textpurple
      color: $darkerpurple
      font-family: Lato

      &::placeholder
        color: $textpurple
  #teams-msg
    float: right
    position: relative
    .overlay-trigger
      left: auto
      right: 0
      top: 60px
      &::after
        right: 16px
        left: auto
    .msg-button
      border-radius: 50%

  .flex-table-wrapper
    margin: 10px 0px
    z-index: 1
    .flex-table
      .flex-row
        .flex-cell
          &.flex-name
            width: 20%
          &.flex-turno
            width: 20%
          &.flex-participants
            width: 50%
          &.flex-started
            width: 10%
            border-right: none
            text-shadow: 0px 0px 6px #222
        &:not(.flex-row-title)
          .flex-cell
            font-family: 'Lato', sans-serif
            padding: 5px
            .material-icons
              font-family: 'Material Icons'
      .operations-team
        position: absolute
        left: 0
        margin-left: -65px
        margin-top: 0px
        width: 62px
        text-align: right
        color: white
        .overlay-trigger
          left: 6px
          top: 60px
          width: 300px
          &.overlay-menu
            left: 30px
            top: 35px
            width: 144px
        .actions-team
          background: transparent
          border: none
          color: white
          padding: 2px
          .material-icons
            background: transparent
            border: none
            color: white
          @extend %scale-animation-up
          &.hidden
            display: none
  .filters
    *
      font-size: 16px
    label
      margin-right: 10px
      &:focus-within
        color: white
    select
      padding-right: 1.65em !important
    input[type=submit], button
      outline: 0
      cursor: pointer
      border-radius: 20px
      padding: 10px
      text-align: center
      font-size: 16px
      background: transparent
      border: 2px solid $textpurple
      color: $textpurple
      @extend %scale-animation-down
      &.participants-button
        &.download-button
          background-color: $lightred
          color: $darkerpurple
          border-color: $lightred
          border-style: solid
        &.attendance-button
          background-color: $brightgreen
          color: $darkerpurple
          border-color: $brightgreen
          border-style: solid
        &.attendance-all-button
          background-color: $brightyellow
          color: $darkerpurple
          border-color: $brightyellow
          border-style: solid
  .no-teams
    display: block
    font-family: Lato, sans-serif
    text-align: center
    width: 100%
    padding: 15px

  
