#timeline
	#team
		display: flex
		flex-wrap: nowrap
		flex-direction: row
		width: 100%
		margin: 5px
		*
			font-family: 'Lato'
		.team-name
			width: 10%
			line-height: 45px
			vertical-align: middle
		.progress
			display: flex
			flex-wrap: nowrap
			flex-direction: row
			width: 90%
			align-items: center
			.door
				width: 30px
			.step
				background-color: white
				margin: 3px
				text-align: center
				text-overflow: ellipsis
				overflow: hidden
				height: 30px
			.step-flex
				flex: 1
			.progress-puzzle-0
				&.step-flex
					background-image: linear-gradient(to right, var(--brightgreen) 80%, var(--mainpurple) 100%)
				background-color: var(--brightgreen)
			.progress-puzzle-1
				&.step-flex
					background-image: linear-gradient(to right, var(--lightred) 80%, var(--mainpurple) 100%)
				background-color: var(--lightred)
			.progress-puzzle-2
				&.step-flex
					background-image: linear-gradient(to right, var(--textpurple) 80%, var(--mainpurple) 100%)
				background-color: var(--textpurple)
			.progress-puzzle-3
				&.step-flex
					background-image: linear-gradient(to right, var(--brightorange) 80%, var(--mainpurple) 100%)
				background-color: var(--brightorange)
			.progress-puzzle-4
				&.step-flex
					background-image: linear-gradient(to right, var(--brightyellow) 80%, var(--mainpurple) 100%)
				background-color: var(--brightyellow)
