.user-flex-container
  display: flex
  flex-direction: row
  .user-flex-container-left
    padding-right: 40px
    text-align: center
    img
      margin: 20px
      border: 2px solid white
      max-width: 70%
  .user-flex-container-right
    .editUserForm
      .userField
        label
          input, select, option
            width: 350px
            text-align: center
            text-align-last: center
          span
            display: block
            margin-bottom: 5px