<% include ../partials/_header.ejs %>
<div class="main">

<h1>
    <%=i18n.user.inputs.editUser%>
</h1>
<div class="user-flex-container">
    <div class="user-flex-container-left">
        <div class="attachment_show">
        <% var attachment = ""; %>
        <% include ../attachments/_show %>
        </div>
    </div>
    <div class="user-flex-container-right">


    <%- include("./_form.ejs") %>
    </div>
</div>
<br/>
<br/>
<br/>
</div>
<% include ../partials/_footer.ejs %>
