<% include ../partials/_header.ejs %>
<div class="main">
<h1>
    <%=i18n.user.inputs.editUser%>:
</h1>

    <%- include("./_form.ejs") %>

    <br/>
    <br/>
    <br/>
</div>
<% include ../partials/_footer.ejs %>
