<%- include ("../partials/_header.ejs") %>
<div role="main" class="main">

<h1>
    <%=i18n.user.inputs.editUser%>
</h1>
<div class="user-flex-container">
    <%- include("./_form.ejs") %>
    
</div>
</div>
<%- include ("../partials/_footer.ejs") %>
