.comment p, .question p {
  margin-bottom: 3px;
  text-indent: 0;
}

.comment, .question {
  overflow: hidden;
}

.mb-4 {
  margin-bottom: 20px;
}

.p-2 {
  padding: 10px;
}

.question .body {
  background-color: #f8f8f8;
}

.question {
  margin-bottom: 40px;
}

.wnd-center {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  margin-bottom: 25vh;
  padding: 20px;
}

.hover-menu {
  position: fixed;
  left: 10px;
  top: 70px;
  display: none;
  max-width: 180px;
}

@media (min-width:1480px) {
  .hover-menu {
    display: block;
  }
}

#flip-book-window .modal-content {
  height: 100%;
  background-image: url('../images/texture.jpg');
}

#flip-book-window .close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  font-size: 21px;
  color: #fff;
}

#flip-book-window .close:active, #modalView .close:active {
  padding-top: 2px;
  padding-right:2px;
  font-size: 17px;
}

#flip-book-window .modal-body {
  height: 100%;
}

#flip-book-window .modal-body .mount-node {
  width: 100%;
  height: 100%;
}

#flip-book-window .modal-body .mount-node.fullscreen {
  background-image: url('../images/texture.jpg');
}

#flip-book-window .modal-dialog {
  width: 98%;
  height: 98%;
  margin: 0.5% auto;
}

#modalView .modal-footer, .image-preview .caption, .books .caption {
  font-size: 12pt;
  font-style: italic;
}

#modalView .modal-dialog {
  opacity: 0;
}

#modalView .modal-body, #modalView .modal-footer {
  text-align: center;
}

#modal-wnd .modal-dialog {
  position: relative;
}

#modal-wnd .modal-dialog .close {
  position: absolute;
  right: 10px;
  top: 10px;
}

#modal-wnd .modal-dialog .modal-content {
  padding: 15px;
}

#modal-wnd .modal-content img, .test-img-size img {
  max-width: 90vw;
}

.test-img-size {
  visibility: hidden;
  position: fixed;
}

.doc-image {
  text-align: center;
  margin-bottom: 10px;
}

.doc-image img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.doc-image img:hover {
  box-shadow: 0 0 10px 1px #ccc;
  cursor: pointer;
}

.doc-image img:active {
  box-shadow: 0 0 5px 1px #aaa;
  cursor: pointer;
}


.navbar-nav>li>a.atr-btn {
  padding: 7px;
  margin: 8px;
  border-radius: 4px;
}

.navbar-nav>li>a.atr-btn:active {
  padding: 6px 7px;
  margin-top: 10px;
}

.navbar-nav>.open>a.atr-btn {
  background-image: none;
}

.navbar-nav>.open>a.atr-btn:hover, .navbar-nav>.open>a.atr-btn:focus, .navbar-nav>.open>a.atr-btn:active {
  padding: 6px 7px;
  margin-top: 10px;
}


.navbar-nav>li>a.video>img {
  position: relative;
  top: -1px;
  height: 20px;
  margin-right: 3px;
  opacity: 0.8;
}

.navbar-nav>li:hover>a.video>img {
  opacity: 1;
}

.navbar-nav>li>a.buy {
  box-shadow: 0 2px 0 #6f9a37;
  background-color: #82b440;
  color: #fff;
}

.navbar-nav>li>a.buy:hover, .navbar-nav>li>a.buy:focus, .navbar-nav>li>a.buy:active {
  background-color: #82a81a;
  color: #fff;
}

.navbar-nav>.open>a.buy {
  box-shadow: 0 2px 0 #6f9a37;
  background-color: #82b440;
  color: #fff;
}

.navbar-nav>.open>a.buy:hover, .navbar-nav>.open>a.buy:focus, .navbar-nav>.open>a.buy:active {
  background-color: #82a81a;
  color: #fff;
}


.navbar-nav>li>a.download {
  box-shadow: 0 2px 0 #335697;
  background-color: #337ab7;
  color: #fff;
}

.navbar-nav>li>a.download:hover, .navbar-nav>li>a.download:focus, .navbar-nav>li>a.download:active {
  background-color: #3368a5;
  color: #fff;
}

.navbar-nav>.open>a.download {
  box-shadow: 0 2px 0 #335697;
  background-color: #337ab7;
  color: #fff;
}

.navbar-nav>.open>a.download:hover, .navbar-nav>.open>a.download:focus, .navbar-nav>.open>a.download:active {
  background-color: #3368a5;
  color: #fff;
}


p {
  text-indent: 25px;
  font-size: 12pt;
}

.no-indent {
  text-indent: 0;
}

.file, .path {
  font-style: italic;
}

.libs span {
  font-weight: bold;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 18px;
}

body {
  margin: 0;
  position: relative;
}

body .navbar {
  margin-bottom: 0;
}

.books {
  text-align: center;
}

.books .thumb {
  display: inline-block;
  padding: 3px;
  margin: 0 3px;
  max-width: 300px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ddd;
  vertical-align: top;
}

.books .caption {
  margin-top: 5px;
}

.books img {
  max-height: 300px;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.books img:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.books h2 {
  text-align: left;
}

.video {
  padding-top: 20px;
}

.video .row {
  margin-bottom: 20px;
}

.video .wrap {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.video .wrap iframe {
  border-width: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  padding: 0 20px;
}

.sample-container {
  height: 85vh;
  background-color: #eee;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.sample-container>div {
  height: 100%;
  width: 100%;
}

.source-link {
  padding-top: 20px;
  text-align: right;
}

.relative {
  position: relative;
}

.message {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.copyright {
  padding: 10px;
  text-align: center;
}

.copyright .author {
  font-style: italic;
  font-weight: bold;
}
.author span {
  font-weight: bold;
}

.copyright .sign {
  font-weight: bold;
}


.image-preview {
  text-align: center;
  margin-bottom: 10px;
}
.image-preview img {
  max-width: 100%;
}

.wrap {
  display: inline-block;
  position: relative;
}
.shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #000;
  /*background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  background-repeat: repeat-x;*/
  opacity: 0.3;
}
.play {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
}
.play .pbtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 50px;
  width: 70px;
  border-radius: 10px;
  background-color: #222;
}
.play .pbtn::after {
  content: ' ';
  border: 10px solid transparent;
  border-left: 20px solid #ccc;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%,-50%);
}
.play .pbtn:hover {
  cursor: pointer;
}
.play .pbtn:hover::after {
  border-left-color: #fff;
}
.play .pbtn:active {
  height: 48px;
  width: 68px;
}
.play .pbtn:active::after {
  border-width: 9px;
  border-left-width: 18px;
}


/*Lightbox Effect*/

.fb3d-modal-shadow {

}

body::before {
  position: fixed;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;

  z-index: -10;
  opacity: 0;
  transition: opacity 0.5s, z-index 0.5s step-end;
}

.fb3d-modal-shadow::before {
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.fb3d-modal {
  position: fixed;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px #fff;

  z-index: -9;
  opacity: 0;
  transition: opacity 0.5s, z-index 0.5s step-end;
}

.fb3d-modal.visible {
  z-index: 11;
  opacity: 1;
  transition: opacity 0.5s;
}

.fb3d-modal::before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.fb3d-modal.light::before {
  background-color: #fff;
}

.fb3d-modal.dark::before {
  background-color: #000;
}

.fb3d-modal .cmd-close {
  font-size: 16pt;
  color: #ccc;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.fb3d-modal.light .cmd-close {
  color: #555;
}

.fb3d-modal .mount-container {
  width: 100%;
  height: 100%;
}

.fb3d-modal .cmd-close:hover {
  color: #eee;
}

.fb3d-modal.light .cmd-close:hover {
  color: #111;
}

.fb3d-modal .cmd-close:active {
  font-size: 14pt;
  padding-top: 2px;
  padding-right: 2px;
}

.light .mount-container.fullscreen {
  background-image: url('../images/inverse-texture.jpg');
}

.dark .mount-container.fullscreen {
  background-image: url('../images/texture.jpg');
}
