@font-face {
	font-family: "Gugi";
	src: url("../../fonts/Gugi-Regular.eot?") format("eot"),
		 url("../../fonts/Gugi-Regular.woff2") format("woff2"),
		 url("../../fonts/Gugi-Regular.woff") format("woff"),
		 url("../../fonts/Gugi-Regular.ttf") format("truetype"),
		 url("../fonts/Gugi-Regular.svg#Gugi-Regular") format("svg");
}