<div class="turno add-turno" data-date="">
    <form method="POST" id="newForm" action="/ctfs/<%= escapeRoom.id %>/turnos/new">
        <input class="fecha" type="hidden" id="date" name="date">
        <div class="hora">
            <input autofocus class="turnos-picker turnos-time-picker" type="time" id="start" required name="start" value="09:00" placeholder="00:00" autocomplete="off"/>
        </div>
        <div class="place">
            <textarea class="turnos-picker turnos-place-picker" type="text"  id="place" name="place" value="" placeholder="<%=i18n.turno.place%>" autocomplete="off"></textarea>
        </div>
        <button type="button" class="little-button more always" title="<%=i18n.escapeRoom.steps.turnos.alwaysTitle%>"><span class="material-icons">alarm_off</span></button>
        <button type="submit" class="little-button more" title="<%=i18n.escapeRoom.steps.turnos.addTitle%>"><span class="material-icons">add</span></button>
    </form>
</div>

