<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESCAPE ROOM - Digital Lock </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

 </head>
<body>
<div id="root"></div>
<script>
			
    window.config = { 
        "PUBLIC_URL": "/apps/digitalLock", 
        ...JSON.parse('<%-resource.config%>')
    };
</script>
<script type="text/javascript" src="/apps/digitalLock/scorm12/bundle.js"></script>
</body>
</html>
