<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESCAPE ROOM - Digital Lock </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

 </head>
<body>
<div id="root"></div>
<script>
    window.config = JSON.parse('<%-resource.config%>');
    if (window.config.timeout === "0") { // TODO Sanitize booleans and numbers
        window.config.timeout = undefined;
    }
    <% if (locals.session.user) { %>
        window.config.token = "<%=locals.session.user.username%>";
    <% } %>
</script>
<script type="text/javascript" src="/apps/digitalLock/scorm12/bundle.js"></script>
</body>
</html>
