<% if (locals.attachment) { %>
        <% if ( locals.attachment.mime === 'image/jpeg' ||
                locals.attachment.mime === 'image/gif'  ||
                locals.attachment.mime === 'image/jpg'  ||
                locals.attachment.mime === 'image/png'    ) { %>
            <%- cloudinary.image(locals.attachment.public_id, { secure: true})%>
        <% } else if ( attachment.mime === 'video/mp4') { %>
            <%- cloudinary.video(locals.attachment.public_id, {controls: false, secure: true})%>
        <% } else if ( attachment.mime === 'application/pdf') { %>
            <%- cloudinary.image(locals.attachment.public_id, {format: 'jpg', secure: true}) %>
        <% } else { %>
            <img  alt="None" src="/images/none.png">
        <% } %>
    </a>
<% } else { %>
    <img  alt="Placeholder" src="/images/placeholder.jpg"/>
<% } %>